body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
    height: 100%;
    color: white !important;
    line-height: 1.8;
}

/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#sec2, #sec3, #sec4, #sec5 {
    background-color: #0C1011;
}



.bgimg-1 {
    background-image: url('../img/logo_clear.jpg');
    background-size: contain;
    background-position: center;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100vh;
}


/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url('../img/mario.jpg');
    background-size: contain;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100%;
}

/* Third image (Contact) */

.bgimg-3 {
    background-color: #0C1011;
    background-image: url('../img/driveclub.jpg');
    background-size: contain;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100%;
}

.bgimg-4 {
    background-image: url('../img/minecraft.jpg');
    background-color: #0C1011;
    background-size: contain;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100%;
}

.bgimg-5 {
    background-image: url('../img/splatoon2.jpg');
    background-color: #0C1011;
    background-size: contain;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100%;
}

.bgimg-6 {
    background-image: url('../img/halo.jpg');
    background-color: #0C1011;
    background-size: contain;
    max-height: 10220px;
    max-width: 10220px;
    height: 400px;
    width: 100%;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 600px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
        background-attachment: scroll;
        height: 190px;
    }
    .bgimg-1 {
        height: 190px;
        margin-top: 10%;
    }
    .slideshow {
        height: 190px;
    }
    h3 {
        font-size: 14px;
    }
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 50%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #8ab619;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.glyphicon {
    font-size: 50px;
    margin-bottom: 20px;
    color: #8ab619;
}