/*body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}*/
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sec1, #sec2, #sec3 {
  background-color: #FFFFAF;
}

/* First image (Logo. Full height) */ /* this class works */
/*.bgimg-1 {
  background-image: url('../img/FR.jpg');
  background-size:contain;
  height: inherit;
}*/

.bgimg-1 {
  background-color: #302F31;
  background-image: url('../img/FR.jpg');
  background-size:contain;
  background-position: center;

  max-height: 10220px;
  max-width: 10220px;
  height: 100%;
  width: 100%;

}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('../img/headassery1.jpg');
  animation-name: background;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  background-size:contain;
  max-height: 10220px;
  max-width: 10220px;
  height: 100%;
  width: 100%;
}

/* Third image (Contact) */
.bgimg-3 {
  background-color: #0C1011;
  background-image: url('../img/FRback.jpg');
  background-size:contain;
  max-height: 10220px;
  max-width: 10220px;
  height: 100%;
  width: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


@keyframes fader {
  from {background-color: white;}
  to {background-image: url('../img/FR.jpg');}
}

@keyframes background {
  0% {
    background: url("../img/headassery2.jpg");
    background-attachment: fixed;
    background-position: top 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  25% {
    background: url("../img/headassery3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: url("../img/headassery1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  75% {
    background: url("../img/headassery2.jpg");
    background-attachment: fixed;
    background-position: top 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
  100% {
    background: url("../img/headassery3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
